
.App{
    background-color: #f4f4f4;
}
.App-header {
  /* background-color: #f4f4f4; */
  min-height: 1vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header a{
  text-decoration: none;
}
.home{
  padding-bottom: 10px;
  margin: 0 10px;
}

.work{
  margin-top: 4px;
}
.work-heading{
  padding: 0 16px;
}

.workout-details{
  border: 1px solid #fff;
  /* box-shadow: 0 4px 8px 0 #fff; */
  border-radius: 4px;
  margin: 8px 0;
  padding: 0 16px;
  position: relative;
  background-color: #fff;
}

.delete-icon{
  position: absolute;
  float: right;
  top: 6%;
  right: 6%;

}

h4,p{
  margin: 8px 0;
}
 
.create-form{
  text-align: center;
}
 
.create-form button{
  padding: 6px 20px;
  border: 1px solid #fff;
  background-color: #15b915a3;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 700;
  color: #fff;
}

.form-item{
  display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 10px;
    margin: 8px 0;
}